<div class="dashboard is-full-height">
    <div class="dashboard-panel is-medium" style="background-color: rgb(228, 228, 228);">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">My profile</a></li>
        </ul>
        <p class="menu-label">
            Staff area
        </p>
        <ul class="menu-list">
            <li><a href="/addlisting">Add listing</a></li>
            <li><a href="/requests">View adoption requests</a></li>
            <li><a href="/animals">View all animals</a></li>
            <li><a href="/allrequests">View all requests</a></li>
        </ul>
    </div>