<%- include("partials/header", {ejs_signed_in: true}); %>
<%- include("partials/staffdashboard"); %>

<div class="container">
    <p class="title3 black">Add a listing</p>
    <br>
    <form action="/addlisting" method="post" enctype="multipart/form-data">
        <div class="field">
            <label class="label">Listing name</label>
            <div class="control">
                <input name="listingName" class="input" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <input name="listingDescription" class="input" type="text">
        </div>
        <div class="field">
            <label class="label">Date of birth</label>
            <input class="input" type="date" name="dateOfBirth" id="">
        </div>
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image"
                   name="image" value="" required>
        </div>
        <button class="button is-primary" type="submit">Add</button>
        <% if(ejs_message) { %>
            <br>
            <p style="color: green;"><%= ejs_message %></p>
            <br>
        <% } %>
    </form>
</div>

<%- include("partials/footer"); %>