<%- include('partials/header') %>

<section class="hero is-link is-fullheight">
    <div class="hero-head">
        <div class="container has-text-centered" style="margin-top: 10%;">
            <p class="title2">
                Aston Animal Sanctuary
            </p>
            <p class="subtitle">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora beatae consequuntur eos nemo, iure quidem accusantium harum sapiente, earum eligendi aliquid reiciendis eum distinctio id. Ex vero similique consectetur repellat?
            </p>
            <br>
            <a class="button is-large is-primary" href="/register">
                <strong>Sign up</strong>
            </a>
            <a class="button is-large" href="/login">
                Sign in
            </a>
        </div>
    </div>
    <div class="hero-body">
        <h1 class="title">
            Latest listings
        </h1>
    </div>
</section>

<%- include('partials/footer') %>