<%- include('partials/header') %>

<section class="hero is-link is-fullheight">
    <div class="hero-head">
      <p class="title2">Hello, <%= ejs_name %></p>
    </div>
</section>

<%- include('partials/footer') %>