<%- include('partials/headerloggedin') %>

    <div class="dashboard is-full-height">
        <div class="dashboard-panel is-medium" style="background-color: rgb(228, 228, 228);">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a href="">Home</a></li>
                <li><a href="">My profile</a></li>
            </ul>
            <p class="menu-label">
                Adopt
            </p>
            <ul class="menu-list">
                <li><a href="">View listings</a></li>
                <li><a href="">My adoptions</a></li>
            </ul>
        </div>
        <div class="dashboard-main is-scrollable">
            <p class="title2" style="color: black;">
                Hello, <%= ejs_name %>
            </p>
        </div>
    </div>

<%- include('partials/footer') %>