<%- include('partials/header') %>

<section class="hero is-link is-fullheight">
    <div class="hero-head">
        <div class="container has-text-centered" style="margin-top: 4%;">
            <h1 class="title2">Staff sign up</h1>
        </div>
        <div class="container" style="padding-top: 3%;">
            <form class="box" action="/addstaff" method="post">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input name="name" class="input" type="text" placeholder="e.g John Smith">
                    </div>
                </div>
                <div class="field">
                    <label class="label ">Username</label>
                    <div class="control">
                        <input name="username" class="input" type="text" placeholder="e.g. john54535">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input name="password" class="input" type="password" placeholder="">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">Submit</button>
                    </div>
                    <div class="control">
                        <a href="/" class="button">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</section>

<%- include('partials/footer') %>