<%- include('partials/header', {ejs_signed_in: true}) %>
<%- include('partials/staffdashboard') %>

<div class="dashboard-main is-scrollable">
    <p class="title3">
        Hello, <%= ejs_name %>
    </p>
</div>

<%- include('partials/footer') %>