<%- include('partials/headerloggedin') %>
<%- include('partials/userdashboard') %>

<div class="dashboard-main is-scrollable">
    <p class="title2" style="color: black;">
        Hello, <%= ejs_name %>
    </p>
</div>

<%- include('partials/footer') %>